* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;


}

body {
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(75, 7, 7, 0.62)),
    url("images/lift.jpeg") fixed;
    height: 100vh;
}

/******REUSABLE********/

.row {
    width: 1140px;
    margin: 0 auto;
}


/*******HEADER********/

.nav-bar ul {
    list-style-type: none;
    text-align: center;
    background: rgba(131, 13, 13, 0.69);
    border-radius: 30px;
    margin-top: 5px;
}

.nav-bar ul li {
    display: inline-block;
    margin: 20px 96px;
    text-align: center;
    padding: 2px;
}

.link-top {
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    transition: letter-spacing 0.4s ease-in-out, border 0.4s ease-in-out;
}

.link-top:hover,
.link-top:active {
    letter-spacing: 5px;
    /*color: rgb(0, 0, 0);*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.74);

}

.link-top:link,
.link-top:visited {

}

.entry-text h1 {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 3px;
    padding: 10px;

}

.large {
    font-size: 100px;
    padding: 10px;
    color: rgb(255, 255, 255);

}

.btn {
    text-decoration: none;
    border: 5px solid #FFF;
    border-radius: 10px;
    position: absolute;
    top: 66%;
    left: 60%;
    padding: 10px 45px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    background: rgba(131, 13, 13, 0.69);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out, width 0.4s ease-in-out;

}

.btn:hover,
.btn:active {
    border: 5px solid rgba(131, 13, 13, 0.95);
    background: rgba(255, 255, 255, 0.72);
    color: rgba(131, 13, 13, 0.95);
}

/*******MAIN******/
.about-us {
    background: rgba(80, 3, 3, 0.9);
    color: #FFF;

}

.heading-main h2 {
    display: block;
    text-align: center;
    font-size: 45px;
    margin: 30px auto;
    border-bottom: 5px solid white;
    border-top: 2px solid white;
    width: 300px;


}


.heading-main p {
    text-align: center;
    padding: 40px;
}

/******VIDEO******/

#videoo {
    display: block;
    opacity: 58%;
    width: 100%;
    height: auto;
    z-index: -1;

}

.video-background {
    background: rgba(80, 3, 3, 0.9);
}

.video-text {
    margin: -150px 30px 30px 40px;

}

#videoo {
    border: 3px solid rgba(255, 255, 255, 0.65);
}


.video-text h2 {
    font-size: 50px;
    border: 10px solid rgba(255, 255, 255, 0.67);
    text-align: center;
    padding-top: 20px;
    width: 700px;
    height: 200px;
    color: rgba(255, 255, 255, 0.89);
    background: rgba(0, 0, 0, 0.59);
    position: sticky;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    text-transform: uppercase;


}

.video-text p {
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 3px;
    word-spacing: 2px;
    border-bottom: 5px solid white;
    border-top: 2px solid white;
    width: 700px;
    margin: 15px auto;
}

.spp {
    font-size: 70px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;

}

/*******PRICES*******/
#prices {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(75, 7, 7, 0.62)),
    url("images/lift.jpeg") fixed;
    height: 100vh;
    color: white;

}

.prices {
    display: flex;
    justify-content: center;
    text-align: center;
}

.product {
    margin: 5%;
    border: 5px solid rgba(255, 255, 255, 0.87);
    width: 30%;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 8px 8px 15px rgba(255, 255, 255, 0.64);
}

.level {
    font-size: 25px;
    font-weight: 700;
    background: rgba(196, 0, 0, 0.55);
    padding: 10%;
}

.product p {
    font-size: 45px;
    margin: 20px;
    font-weight: 500;

}

button {
    font-size: 20px;
    height: 40px;
    width: 140px;
    margin: 10%;
    border-radius: 9px;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(162, 6, 6, 0.82);
    color: white;
    font-weight: 900;
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out, border-radius 0.4s ease-in-out;

}

button:hover,
button:active {
    background: white;
    color: rgba(162, 6, 6, 1);
    border-radius: 20px;
}

/*****FOOTER*******/
footer {
    background: rgb(82, 2, 2);
    color: white;
}

.socials {
    text-align: center;

}

.socials p {
    margin: 90px 40px 40px 40px;
    display: inline-block;
}

.socials p a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: letter-spacing 0.4s ease-in-out;
}

.socials p a:hover,
.socials p a:active {
    letter-spacing: 2px;
}

.copy {
    text-align: center;
    margin-bottom: 10px;
}


/******ORDER PAGE**********************************/

/**********FORM***************/
.order {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(75, 7, 7, 0.62)),
    url("images/lift.jpeg");
    height: 100vh;
    background-size: cover;

}

.form-box {
    border: 10px solid white;
    width: 600px;
    background: rgba(101, 4, 4, 0.75);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px white;
    margin: 80px auto;

}

.form-box h1 {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    letter-spacing: 2px;
    color: white;
    word-spacing: 3px;

}

.form-text, textarea {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    outline: none;
    transition: width 0.5s ease-in-out;
}

.form-text:hover,
.form-text:active {
    width: 350px;
}

.form-box p {
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}

.choose {
    color: white;
    text-transform: uppercase;
    margin-right: 30px;
}

textarea {
    width: 400px;
}

.submit {
    width: 360px;
    border: 4px solid white;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    transition: all 555ms ease-in-out;
}

.submit:hover,
.submit:active {
    background: rgba(101, 4, 4, 0.87);
    color: #FFFFFF;
}

.back {
    position: fixed;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.72);
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    transition: all 555ms ease-in-out;

}

.back:hover,
.back:active {
    color: #FFF;
    margin-left: 10px;

}

/*********CONTACTS PAGE**********************/

.contacts {
    background: rgba(80, 3, 3, 0.9);
    background-size: cover;
}

.color-heading {
    background: rgba(80, 3, 3, 0.73);
    color: #FFFF
}
