@media (min-aspect-ratio: 16/9) {
    #videoo {
        width: 100%;
        height: auto;
    }
}
@media (min-aspect-ratio: 9/16) {
    #videoo {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 767px) {
    #videoo {
        display: none;
    }
    body {
        background: url("video/1s.png");
        background-size: cover;
    }
    
}